# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Docker
docker-compose.override.yml

# IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Logs
*.log
logs/

# Otros
*.jar
!mvnw
!mvnw.cmd
.env
